<section class="about about-background" id="about">
  <div class="container about-laptop">
    <div class="about-block">
      <h2 class="about-title">About Us</h2>
      <p class="about-title-content">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="about-title-content about-title-hiden">
        In "Vyshyvanka Vibes" you will find various models of embroidery, from
        classic to modern, corresponding to the latest fashion trends. Our
        embroidery is made using natural fabrics and is embroidered by highly
        qualified craftsmen who convey the beauty of Ukrainian culture in
        every detail.We believe that vyshyvanka is not just clothing, but a
        symbol of national pride, the heritage of our ancestors and a way of
        expressing one's individuality. Each embroidery from "Vyshyvanka
        Vibes" has its own unique history and symbolism, which gives it a
        special meaning.
      </p>
      <div class="about-title-text">
      <details>
        <summary>
          <span id="open">read more</span>
          <span id="close">close</span>
        </summary>
        <p class="about-title-content">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in
          every detail.We believe that vyshyvanka is not just clothing, but a
          symbol of national pride, the heritage of our ancestors and a way of
          expressing one's individuality. Each embroidery from "Vyshyvanka
          Vibes" has its own unique history and symbolism, which gives it a
          special meaning.
        </p>
      </details>
    </div>
    </div>
    <picture>
      <source
        srcset="
          ./img/about/about_FullDeck-709wX1.jpg  1x,
          ./img/about/about_FuulDeck-1418wX2.jpg 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/about/about_Deck-594wX1.jpg  1x,
          ./img/about/about_Deck-1188wX2.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/about/about_Tablet-704wX1.jpg  1x,
          ./img/about/about_Tablet-1408wX2.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/about/about_Mob-335wX1.jpg 1x,
          ./img/about/about_Mob-670wX2.jpg 2x
        "
      />
      <img class="" src="./img/about/about_Mob-335wX1.jpg" alt="august" />
    </picture>
  </div>
</section>
