<section class="colection" id="collection">
    <div class="colection-conteiner container">
        <h2 class="colection-head">Our collection</h2>
        <ul class="colection-list">
            <li class="colection-item flip-scale-2-ver-right">
                <picture>
                    <source srcset="./img/colection/1-colection-1440.jpg, ./img/colection/1-colection-14402x.jpg 2x" media="(min-width: 1440px)" />
                    <source srcset="./img/colection/1-colection-1280.jpg, ./img/colection/1-colection-12802x.jpg 2x" media="(min-width: 1280px)" />
                    <source srcset="./img/colection/1-colection-tab.jpg 1x, ./img/colection/1-colection-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./img/colection/1-colection-mob.jpg 1x, ./img/colection/1-colection-mob2x.jpg 2x" />
                    <img class="colection-img" src="./img/colection/1-colection-mob.jpg" alt="august poltava women's blousering">
                </picture>
                <p class="colection-item-text text-hover">august poltava women's blousering</p>
                <p class="colection-item-text colection-item-prise">3300 UAH</p>
            </li>
            <li class="colection-item">
                <picture>
                    <source srcset="./img/colection/2-colection-1440.jpg, ./img/colection/2-colection-14402x.jpg 2x" media="(min-width: 1440px)" />
                    <source srcset="./img/colection/2-colection-1280.jpg, ./img/colection/2-colection-12802x.jpg 2x" media="(min-width: 1280px)" />
                    <source srcset="./img/colection/2-colection-tab.jpg 1x, ./img/colection/2-colection-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./img/colection/2-colection-mob.jpg 1x, ./img/colection/2-colection-mob2x.jpg 2x" />
                    <img class="colection-img" src="./img/colection/2-colection-mob.jpg" alt="women's blouse gorgany">
                </picture>
                <p class="colection-item-text text-hover">women's blouse gorgany</p>
                <p class="colection-item-text colection-item-prise">3350 UAH</p>
            </li>
            <li class="colection-item">
                <picture>
                    <source srcset="./img/colection/3-colection-1440.jpg, ./img/colection/3-colection-14402x.jpg 2x" media="(min-width: 1440px)" />
                    <source srcset="./img/colection/3-colection-1280.jpg, ./img/colection/3-colection-12802x.jpg 2x" media="(min-width: 1280px)" />
                    <source srcset="./img/colection/3-colection-tab.jpg 1x, ./img/colection/3-colection-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./img/colection/3-colection-mob.jpg 1x, ./img/colection/3-colection-mob2x.jpg 2x" />
                    <img class="colection-img" src="./img/colection/3-colection-mob.jpg" alt="women's blouse crimea">
                </picture>
                <p class="colection-item-text text-hover">women's blouse crimea</p>
                <p class="colection-item-text colection-item-prise">4000 UAH</p>
            </li>
            <li class="colection-item">
                <picture>
                    <source srcset="./img/colection/4-colection-1440.jpg, ./img/colection/4-colection-14402x.jpg 2x" media="(min-width: 1440px)" />
                    <source srcset="./img/colection/4-colection-1280.jpg, ./img/colection/4-colection-12802x.jpg 2x" media="(min-width: 1280px)" />
                    <source srcset="./img/colection/4-colection-tab.jpg 1x, ./img/colection/4-colection-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./img/colection/4-colection-mob.jpg 1x, ./img/colection/4-colection-mob2x.jpg 2x" />
                    <img class="colection-img" src="./img/colection/4-colection-mob.jpg" alt="men's shirt verkhovina">
                </picture>
                <p class="colection-item-text text-hover">men's shirt verkhovina</p>
                <p class="colection-item-text colection-item-prise">3100 UAH</p>
            </li>
            <li class="colection-item">
                <picture>
                    <source srcset="./img/colection/5-colection-1440.jpg, ./img/colection/5-colection-14402x.jpg 2x" media="(min-width: 1440px)" />
                    <source srcset="./img/colection/5-colection-1280.jpg, ./img/colection/5-colection-12802x.jpg 2x" media="(min-width: 1280px)" />
                    <source srcset="./img/colection/5-colection-tab.jpg 1x, ./img/colection/5-colection-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./img/colection/5-colection-mob.jpg 1x, ./img/colection/5-colection-mob2x.jpg 2x" />
                    <img class="colection-img" src="./img/colection/5-colection-mob.jpg" alt="mountain men's shirt">
                </picture>
                <p class="colection-item-text text-hover">mountain men's shirt</p>
                <p class="colection-item-text colection-item-prise">3300 UAH</p>
            </li>
            <li class="colection-item">
                <picture>
                    <source srcset="./img/colection/6-colection-1440.jpg, ./img/colection/6-colection-14402x.jpg 2x" media="(min-width: 1440px)" />
                    <source srcset="./img/colection/6-colection-1280.jpg, ./img/colection/6-colection-12802x.jpg 2x" media="(min-width: 1280px)" />
                    <source srcset="./img/colection/6-colection-tab.jpg 1x, ./img/colection/6-colection-tab2x.jpg 2x" media="(min-width: 768px)" />
                    <source srcset="./img/colection/6-colection-mob.jpg 1x, ./img/colection/6-colection-mob2x.jpg 2x" />
                    <img class="colection-img" src="./img/colection/6-colection-mob.jpg" alt="Men's shirt Yasen">
                </picture>
                <p class="colection-item-text text-hover">Men's shirt Yasen</p>
                <p class="colection-item-text colection-item-prise">1700 UAH</p>
            </li>
        </ul>
    </div>
</section>