<footer class="footer-background">
  <div class="container">
    <ul class="footer-menu">
      <li class="footer-menu-item first-item">
        <a class="footer-item-text" href="#about">About us</a>
      </li>
      <li class="footer-menu-item order">
        <a class="footer-item-text" href="#colection">Our collection</a>
      </li>
      <li class="footer-menu-item">
        <a class="footer-item-text" href="#orders">Customer Order</a>
      </li>

      <li class="footer-menu-item order">
        <a class="footer-item-text" href="#testimonials">Testimonials</a>
      </li>
    </ul>

    <p class="footer-slogan">
      A touch of <span class="text-span">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>