<footer class="footer-background">
    <div class="container-footer">
        <div>
            <ul class="footer-menu">
                <li class="footer-menu-item">
                    <a class="footer-item-text" href="">About us</a>
                </li>
                <li class="footer-menu-item">
                    <a class="footer-item-text" href="">Our collection</a>
                </li>
                <li class="footer-menu-item">
                    <a class="footer-item-text" href="">Customer Order</a>
                </li>
                <li class="footer-menu-item">
                    <a class="footer-item-text" href="">Testimonials</a>
                </li>
            </ul>
        </div>
        <div>
        <a class="footer-slogan">A touch of <span class="text-span">Ukrainian</span> culture in every embroidery</a>
        </div>
        <div class="img-box">
            <use href=""></use>
        </div>
    </div>
</footer>