<header class="header">
    <div class="container header-container">
        
        <nav class="navigation">
            <a href="./index.html" class="logo-link"><img src="./img/logo.svg" alt="logotype" class="logo"></a>

            <ul class="menu">
                <li class="menu-item"><a href="#about" class="menu-item-link">about us</a></li>
                <li class="menu-item"><a href="#collection" class="menu-item-link">our collection</a></li>
                <li class="menu-item"><a href="#orders" class="menu-item-link">customer order</a></li>
                <li class="menu-item"><a href="#testimonials" class="menu-item-link">testimonials</a></li>
            </ul>
        </nav>
        
        

        <div class="navigation">

            <a href="tel:+380684439426" class="contact-telephone">+380 (68) 443-94-26</a>

            <ul class="social-list">
                <li class="social-list-item">
                    <a href="https://www.facebook.com/goITclub/" class="social-list-link">
                        <svg class="social-icon" height="28" width="28">
                            <use href="./img/sprite.svg#icon-Frame-52"></use>
                        </svg>
                    </a>
                </li>
                
                <li class="social-list-item">
                    <a href="https://www.instagram.com/goitclub/" class="social-list-link">
                        <svg class="social-icon" height="28" width="28">
                            <use href="./img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
    
                <li class="social-list-item">
                    <a href="https://www.youtube.com/c/GoIT" class="social-list-link">
                        <svg class="social-icon" height="28" width="28">
                            <use href="./img/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <button class="burger-button" type="button">
                <svg class="burger-icon" width="36" height="24">
                    <use href="./img/sprite.svg#icon-nav"></use>
                </svg>
            </button>
        </div>
        
    </div>

</header>
<div class="backdrop">
    <div class="mobile-menu">
        <button class="close-button" type="button">
            <svg class="close-icon" width="36" height="36">
                <use href="./img/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <a href="tel:+380684439426" class="contact-telephone-modal">+380 (68) 443-94-26</a>
        <ul class="modal-menu">
            <li class="menu-item"><a href="#about" class="menu-item-link">about us</a></li>
            <li class="menu-item"><a href="#collection" class="menu-item-link">our collection</a></li>
            <li class="menu-item"><a href="#orders" class="menu-item-link">customer order</a></li>
            <li class="menu-item"><a href="#testimonials" class="menu-item-link">testimonials</a></li>
        </ul>
    </div>
</div>
