<section class="section hero-section">
    <div class="container hero-container">
        <div class="hero-desktop">
        <h1 class="hero-title">Reviving the traditional <span class="title-color">Ukrainian</span> artistry in every
            stitch.</h1>
            <div class="hero-btn">
                <a href="#orders" class="hero-btn-link">Order<svg class="hero-icon-svg" width="26" height="10"
                        aria-label="arrow in the button">
                        <use href="./img/sprite.svg#icon-arrow"></use>
                    </svg></a>
            </div>
        </div>
            <div class="hero-svg">
                <svg class="hero-star" width="52" height="51">
                    <use href="./img/sprite.svg#icon-star"></use>
                </svg>
                <p class="hero-text">all embroidery is<br> made by hand</p>
            </div>
        <picture>
            <source srcset="./img/hero/girl-hero-desk.jpg 1x,
                     ./img/hero/girl-hero-desk@2x.jpg 2x" media="(min-width: 1440px)">
            <source srcset="./img/hero/girl-hero-desk.jpg 1x,
                     ./img/hero/girl-hero-desk@2x.jpg 2x" media="(min-width: 1280px)">
            <source srcset="./img/hero/girl-hero-tablet.jpg 1x,
                     ./img/hero/girl-hero-tablet@2x.jpg 2x" media="(min-width: 768px)">
            <source srcset="./img/hero/girl-hero-mob.jpg 1x,
                     ./img/hero/girl-hero-mob@2x.jpg 2x" media="(max-width: 375px)">
            <img class="hero-img" alt="Girl in grey" src="./img/hero/girl-hero-mob.jpg">
        </picture>
        <picture>
            <source srcset="./img/hero/group-top.png 1x,
                ./img/hero/group-top@2x.png 2x" media="(min-width: 1440px)">
            <source srcset="./img/hero/group-desk.png 1x,
                ./img/hero/group-desk@2x.png 2x" media="(min-width: 1280px)">
            <source srcset="./img/hero/group-tablet.png 1x,
                ./img/hero/group-tablet@2x.png 2x" media="(min-width: 768px)">
            <img class="hero-img-bottom" alt="map of Ukraine" src="./img/hero/group-tablet.png">
        </picture>
    </div>
</section>