
<section class="orders order-background" id="orders">
  <div class="background-girl"></div>
  <div class="container order-background-img">
    <div class="order-grup">
      <h2 class="orders-title">
        <span class="orders-title-span">Your order</span> is our priority:
        Personalized approach and quality of service
      </h2>
      <form class="orders-form">
        <input
          class="modal-form-input"
          type="text"
          name="user-full-name"
          placeholder="Enter your full name"
          required
          pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐйЙ']+"
          title="Artem"
        />
        <input
          class="modal-form-input"
          type="email"
          name="user-email"
          placeholder="Enter your email"
          required
        />
        <textarea
          class="modal-form-message"
          name="user-comment"
          placeholder="Comments"
        ></textarea>

        <button class="orders-button" type="submit">
          Send
          <svg
            class="hero-icon-svg"
            width="27.5"
            height="21"
            aria-label="arrow in the button"
          >
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
    </div>
    <img
      class="orders-picture"
      srcset="
        ./img/order/order-table-638w.jpg       638w,
        ./img/order/order-table-1276w@2x.jpg  1276w,
        ./img/order/order-laptop-524w.jpg      524w,
        ./img/order/order-laptop-1048w@2x.jpg 1048w
      "
      sizes="(min-width: 1280px) 524px, (min-width: 768px) 638px"
      src="./img/order/order-table-638w.jpg"
      alt="embroidered shirt"
    />
  </div>
</section>
