body {
  font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
  color: #fcf9f9;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 30px 0;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
  .section {
    padding: 50px 0;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1080px;
    padding: 0 100px;
  }
  .section {
    padding: 75px 0;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1240px;
  }
}
