  .footer-background {
    padding-top: 40px;
    padding-bottom: 300px;
    background-image: url(../img/footer/footer-mobile.png);
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  .footer-menu {
    display: inline-flex;
    row-gap: 25px;
    column-gap: 40px;
    margin: auto 0;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
    margin-bottom: 40px;
  }
  .first-item {
    margin-right: 49px;
  }
  .footer-menu-item {
    color: var(--white, #fcf9f9);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
  }
  .footer-item-text {
    color: var(--white, #fcf9f9);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
  }
  .box-slogan {
    margin: auto 0;
    padding: 20px;
    padding-bottom: 80px;
  }
  .footer-slogan {
    color: var(--white, #fcf9f9);
    font-family: Manrope;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; /* 122.727% */
    letter-spacing: -1.32px;
    max-width: 335px;
  }
  .text-span {
    color: var(--white, #ecd979);
  
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: -1.32px;
  }