footer {
    font-family: 'Manrope', sans-serif;
    background-color: #1c2225;
    color: #fcf9f9;
}
.footer-menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    padding: 20px;
}
.footer-menu-item {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
}
.footer-item-text {
    color: #FCF9F9;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    text-transform: uppercase;
    border: 1px;


}
.footer-slogan {
    color: var(--white, #FCF9F9);
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px; /* 115.625% */
    letter-spacing: -1.92px;
    width: auto;

}
.text-span {
    color: var(--white, #ECD979);
    font-family: Manrope;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -1.92px;
}
