.header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-telephone{
    display: none;
    transition: border 250ms linear;
}

.contact-telephone:hover,
.contact-telephone:focus{
    border: 1px solid #ECD979;
    outline: transparent;
    outline-offset: 4px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    height: 52px;
    align-items: center;
}

.logo{
    width: 44px;
    height: 39px;
}

.menu{
    display: none;
}

.navigation{
    display: flex;
    align-items: center;
}

.social-list{
    display: flex;
    gap: 12px;
}

.social-list-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.10);
    background: rgba(252, 249, 249, 0.10);  
    transition: background 250ms linear, border 250ms linear;
}

.social-list-link:hover,
.social-list-link:focus{
    border: 1px solid #ECD979;
    background: transparent;
    outline: transparent;
    outline-offset: 4px;
}


.social-icon{
    fill: #FCF9F9;
}

.burger-button{
    display: block;
    width: 36px;
    height: 24px;
    margin-left: 12px;
    padding: 0;
    border: none;
    background-color: transparent;
    line-height: 0;
    position: relative;
}

.burger-icon{
    stroke: #ECD979;
    display: inline-block;
    width: 36px;
    height: 24px;
}

/*=================================MODAL==========================================*/

.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop.is-open>.mobile-menu{
    transform: translateX(-274px);
}

.mobile-menu{
    padding: 20px;
    width: 274px;
    height: 100%;
    position: absolute;
    right: -274px;
    top: 0;
    background-color: #ECD979;
    background-image: url("../img/modal/elements.png");
    background-repeat: no-repeat;
    background-size: 100% 251px;
    background-position: bottom;
    transition: transform 250ms linear;
    
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    
}

.close-button{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 20px;
    right: 29px;
    line-height: 0;
    border: none;
    background-color: transparent;
}

.close-icon{
    stroke: #1C2225;
}

.contact-telephone-modal{
    display: block;
    color: #1C2225;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.10);
    display: flex;
    height: 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 158px;
}

.modal-menu{
    display: flex;
    flex-direction: column;
    color: #1C2225;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    align-items: end;
    margin-top: 223px;
    gap: 25px;

}


@media screen and (min-width: 375px) {
    
}

@media screen and (min-width: 768px) {
    .burger-icon{
        width: 44px;
        height: 30px;
    }
    .burger-button{
        margin-left: 20px;
        width: 44px;
        height: 36px;
    }

    .mobile-menu{
        width: 380px;
        background-image: url("../img/modal/elements-tablet.png");
        background-repeat: no-repeat;
        background-size: 100% 366px;
        background-position: bottom;
    }
}


@media screen and (min-width: 1280px) {
    .burger-button{
        display: none;
    }
    .menu{
        display: flex;
        gap: 25px;
        align-items: center;
    }
    .menu-item{
        font-size: 14px;
        line-height: 1.29;
        text-transform: uppercase;
    }

    .menu-item-link{
        outline: transparent;
        outline-offset: 4px;
        transition: color 250ms linear;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .menu-item-link:hover,
    .menu-item-link:focus,
    .menu-item-link:active{
        color: #ECD979;
    }
    .contact-telephone{
        color: #FCF9F9;
        font-size: 14px;
        line-height: 1.42;
        text-transform: uppercase;
        border-radius: 15px;
        border: 1px solid rgba(252, 249, 249, 0.10);
        display: flex;
        height: 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 193px;
        margin-right: 28px;
    }
    .logo-link{
        margin-right: 60px;
    }
}

@media screen and (min-width: 1440px) {
    .header{
        padding-top: 18px;
        padding-bottom: 18px;
    }
}