.testimonials-title {
  font-size: 32px;
  line-height: 137.5%;
  letter-spacing: -0.96px;
  margin-bottom: 40px;
}
.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  width: 100%;
  overflow: hidden;
}
.testimonials-item {
  padding-top: 24px;
}
.testimonials-item:nth-child(3),
.testimonials-item:nth-child(2) {
  display: none;
}
.testomonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 0 18px 18px 18px;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}
.reviewer {
  margin-top: -24px;
}
.reviewer-name {
  margin-bottom: 8px;
}
.reviewer-comment {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 14px;
}

.slider-container {
  position: relative;
}

.next,
.prev {
  position: absolute;
  cursor: pointer;
  top: 50%;
  border-radius: 50%;
  border: none;
  fill: #fcf9f9;
  background-color: transparent;
}

.next:hover .arrow-next,
.next:focus .arrow-next,
.prev:hover .arrow-prev,
.prev:focus .arrow-prev {
  fill: #ecd979;
}

.next {
  right: -20px;
}

.prev {
  left: -20px;
}

.arrow-prev {
  width: 30px;
  height: 30px;
}

.arrow-next {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 375px) {
  .testimonials-item {
    width: 335px;
  }
}

@media (min-width: 375px) {
  .testimonials-item {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .testimonials-title {
    font-size: 44px;
    line-height: 145.455%;
    letter-spacing: -1.32px;
  }
  .testimonials-list {
    width: calc(342px * 2 + 32px);
  }
  .testimonials-item {
    width: calc(50% - 13px);
  }
  .testimonials-item:nth-child(2) {
    display: list-item;
  }
  .reviewer-comment {
    font-size: 16px;
  }
  .slider-container {
    width: fit-content;
  }
  .next {
    right: -30px;
  }
  .prev {
    left: -30px;
  }
}

@media (min-width: 1280px) {
  .testimonials-list {
    width: calc(342px * 3 + 52px);
  }
  .testimonials-item {
    width: calc(33.33% - 17.33px);
  }
  .testimonials-item:nth-child(3) {
    display: list-item;
  }
  .next {
    display: none;
  }

  .prev {
    display: none;
  }
}
